body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    
    flex-direction: column;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border-color:#D4D4D4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  label {
    display: block;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  button {
    background-color: #3B4ADF;
    color: #fff;
    padding: 24px 544px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    :hover{
        background-color: #2f3ab2;
    }
    
  }
  span{
    padding:50px;
  }
